out/
db/
xilinx/iseconfig/
incremental_db/
rtl/greybox_tmp/
greybox_tmp/
PLLJ_PLLSPE_INFO.txt
mist/mist_top.qws
rtl/**/*.bak
Chain1.cdf
mist_pll.qip
mist_top.asm.rpt
mist/output_files/mist_top.cdf
mist/output_files/mist_top.done
mist/output_files/mist_top.drc.rpt
mist/output_files/mist_top.fit.rpt
mist/output_files/mist_top.fit.smsg
mist/output_files/mist_top.fit.summary
mist/output_files/mist_top.flow.rpt
mist/output_files/mist_top.jdi
mist/output_files/mist_top.map.rpt
mist/output_files/mist_top.map.smsg
mist/output_files/mist_top.map.summary
mist_top.cdf
mist_top.sta.rpt
mist_top.sta.summary
mist_top.pin
